body {
	grid: [stack] 1fr / min-content [stack] 1fr;
}

@media (max-width: 640px) {
	#app > aside,
	#app > main {
		grid-area: stack;
	}
}

#sidenav-open {
	--easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
	--duration: 0.6s;
}

@media (max-width: 640px) {
	#sidenav-open {
		position: sticky;
		top: 0;
		max-height: 100vh;
		overflow: hidden auto;
		overscroll-behavior: contain;

		visibility: hidden;
		/* not keyboard accessible when closed */
		transform: translateX(-110vw);
		will-change: transform;
		transition:
			transform var(--duration) var(--easeOutExpo),
			visibility 0s linear var(--duration);
	}

	#sidenav-open.is-open {
		visibility: visible;
		transform: translateX(0);
		transition: transform var(--duration) var(--easeOutExpo);
	}
}

@media (prefers-reduced-motion: reduce) {
	#sidenav-open {
		--duration: 1ms;
	}
}
